<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="text-center">
      <img class="logo" src="assets/img/PXL.png" (click)="returnToHome()">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="returnToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="containerMain" *ngIf="loaded">
  <div tappable *ngFor="let d of restData.domains ; let i = index" class="animated flipInY del200 tiles" [style.background-color]="d.color" (click)="goToCalcDomain(d.id)">
    <div><ion-icon [name]="d.icon"></ion-icon></div>
    <div>{{d.name}}</div>
  </div>

  <div tappable *ngFor="let fav of favoriteList ; let i = index" [class]="'animated flipInY tiles2 del'+(400+(i*100))" [style.background-color]="fav.color" (click)="goToCalcProduct(fav)">
    <div>{{fav.code}}</div>
    <div>{{fav.name}}</div>
  </div>
</div>

</ion-content>
